@use "../abstracts" as a;

.accordion {
	.header {
		background-color: a.$color-primary;
		border-radius: 0.625rem;
		padding: 0.62rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
        position: relative;

		.arrowContainer {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2rem;
			width: 2rem;

			.arrow {
				height: 100%;
				width: 100%;
				transition: all a.$tt-arrow-turn ease-in-out;

				&_open {
					transform: rotate(180deg);
				}
			}
		}
	}
	.body {
		background-color: a.$gray-lighter;
		border-radius: 0rem 0rem 0.625rem 0.625rem;
		max-height: 0;
		overflow: hidden;
		transform: translateY(-0.625rem);
		transition: max-height a.$tt-card-display ease-in-out;

		.description {
			padding: 1.5rem 1.25rem 1.25rem 1.25rem;
		}

		.equipments {
			list-style: none;
			margin: 0;
			padding: 1.5rem 1.25rem 1.25rem 1.25rem;
		}

		.paragraph {
			margin: 0;
			font-size: a.$fs-md;
			line-height: a.$lh-standard;
			font-weight: a.$fw-light;
			color: a.$color-primary;
		}

		&_open {
			max-height: 100vh;
		}
	}
}

@include a.small-screen {
	.accordion {
		.header {
			padding: 0.5rem;
			height: 1.25rem;

			.arrowContainer {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
		.body {

			.paragraph {
				font-size: a.$fs-sm;
			}
		}
	}
}
