@use "../abstracts" as a;

.carousel {
    height: 26rem;
    width: 100%;
    border-radius: 1.5625rem;
    position: relative;

    .arrowContainer {
        background-color: rgba(0, 0, 0, 0.25);
        height: 5rem;
        width: 3rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .arrowBack {
        left: 1rem;
    }
    
    .arrowNext {
        right: 1rem;
        
        img {
            transform: rotate(180deg);
        }
    }

    .image {
        height: 100%;
        width: 100%;
        border-radius: 1.5625rem;
        object-fit: cover;
    }
}