@use "../abstracts" as a;

.home {
	margin: 0 auto;
	max-width: 77.5rem;

	.titleContainer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 14rem;
		border-radius: 1.5625rem;
		background: url("../../assets/images/home-img.png") no-repeat center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 1.5625rem;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.mainContainer {
		background-color: a.$gray-lighter;
		border-radius: 1.5625rem;
		margin-top: 2.7rem;
		padding: 3.5rem 3.12rem;
		display: grid;
		grid-template-columns: 1fr 1fr auto; 
		gap: 3.75rem;
	}
}
