@use "../abstracts" as a;

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	background-color: a.$color-black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.78rem;
	padding: 4.12rem 0 1.81rem 0;

	.logoContainer {
	}

	.copyright {
		color: a.$color-white;
	}
}
