@use "../abstracts" as a;

.header {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto;
	max-width: 77.5rem;

	.logoContainer {
		height: 4.25rem;

		.logo {
			height: 100%;
		}
	}

	.navContainer {
		display: flex;
		align-items: center;

		.navLinkList {
			display: flex;
			gap: 3.5625rem;
			padding: 0;

			.navLink {
				list-style: none;
				margin: 0;
				padding: 0;

				a {
					text-decoration: none;
					font-size: a.$fs-md-lg;
					color: a.$color-primary;
					line-height: a.$lh-standard;
					transition: all 0.05s ease-in-out;

					&:hover {
						border-bottom: 2px solid a.$color-primary;
					}

					&.activeLink {
						border-bottom: 2px solid a.$color-primary;
					}
				}
			}
		}
	}
}

@include a.small-screen {
	.header {
		box-sizing: border-box;
		width: 100%;
		margin: 1rem 0;
		padding: 0 1.25rem;

		.logoContainer {
			height: 3rem;
		}

		.navContainer {
			.navLinkList {
				gap: 1.5rem;

				.navLink {
					a {
						font-size: a.$fs-sm;
					}
				}
			}
		}
	}
}
